<div class="loading">
  <div class="loading-spinny"></div>
  <div class="loading-message">Loading Photos&hellip;</div>
</div>

<article class="photo-set">

  <% photo_set.photo_urls.each do |url| %>
    <div class="photo-set-image">
      <a href="<%= url %>"><img src="<%= url %>" alt="<%= photo_set.title %>"></a>
    </div>
  <% end %>

  <div class="photo-set-content">
    <div class="photo-set-publish-date"><%= photo_set.date.strftime("%B %d, %Y") %></div>
    <h1><%= photo_set.title %></h1>

    <div class="photo-set-content-body">
      <%= photo_set.description %>
    </div>
  </div>

</article>
