!!!
%html( lang='en' )
  %head
    %meta( charset='utf-8' )
    %meta( name='viewport' content='width=device-width, initial-scale=1' )

    %title= current_page.data.title + ' &mdash; Alex Blackie '

    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Noto+Serif:400,700|Cabin+Condensed:700,400'
    = stylesheet_link_tag 'site'

    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed'

  %body{ class: page_classes }

    .container
      %header{ class: current_page.data.big_header ? 'site-header site-header-big' : 'site-header' }
        %h1.site-header-name= link_to 'Alex Blackie', '/'

        - if current_page.data.big_header
          %p.introduction
            I'm a Solutions Evangelist™ at <a href='http://metalab.co'>
            MetaLab</a> where I work on Ruby apps, make cool websites, and now
            and then play around with DevOps infrastructure. In my spare time,
            I juggle a handful of servers; play around with open-source,
            POSIX-compliant OSes; and try to understand encryption and computer
            networking.

      %section.site-content=yield

    %footer.site-footer
      &copy; 2014 Alex Blackie. All Rights Reserved.
      %br

      %ul.site-footer-links
        %li= link_to 'e.Mail',     'mailto:alex@alexblackie.com'
        %li= link_to 'Twitter',    'https://twitter.com/alexblackie'
        %li= link_to 'Github',     'https://github.com/alexblackie'
        %li= link_to 'SSH PubKey', 'http://key.alexblackie.com/'
        %li= link_to 'GPG Pubkey', 'http://pgp.mit.edu/pks/lookup?op=get&search=0xF6AA8E960D9F7F9F'

    - if build?
      :javascript
        !function(e,a,n,t,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(n),s=a.getElementsByTagName(n)[0],o.async=1,o.src=t,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-23322889-3","alexblackie.com"),ga("send","pageview");
