<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Untitled" %> | Alex Blackie</title>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,700,900|Source+Serif+Pro:400,700" %>
    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <% if build? %>
      <script>
        !function(e,a,n,t,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(n),s=a.getElementsByTagName(n)[0],o.async=1,o.src=t,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-23322889-3","alexblackie.com"),ga("send","pageview");
      </script>
    <% end %>
  </body>
</html>
