!!!
%head
  %meta( charset='UTF-8' )
  %meta( name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" )

  %title
    = current_page.data.title ? current_page.data.title : 'Untitled'
    &rsaquo; Alex Blackie

  = stylesheet_link_tag '//fonts.googleapis.com/css?family=PT+Serif:400,700|PT+Sans:400,700'
  = stylesheet_link_tag 'site'

  - if current_page.data.art
    = stylesheet_link_tag 'art-direction/' + current_page.data.art

  - if build?
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23322889-3', 'alexblackie.com');
      ga('send', 'pageview');

%body( class="#{ page_classes }" )

  %header.site-header
    .container
      %h1.name= link_to 'Alex Blackie', '/'

      %a#main-menu-toggle( href='#' ) Menu
      %nav.main-menu
        %ul
          %li.main-menu-item.main-menu-item-articles= link_to 'Articles', '/'
          %li.main-menu-item.main-menu-item-about= link_to 'About', '/about.html'
          %li.main-menu-item.main-menu-item-contact= link_to 'Contact', '/contact.html'

  .contentwrapper= yield

  %footer.site-footer
    .container
      .site-footer-copyleft
        Design, code, and content &copy; #{ Date.today.strftime('%Y') } Alex Blackie.<br>
        Pretty much All Rights Reserved.

      %ul.site-footer-links
        %li= link_to 'Email',   'mailto:alex@alexblackie.com'
        %li= link_to 'Github',  'https://github.com/alexblackie'
        %li= link_to 'Twitter', 'https://twitter.com/alexblackie'
        %li= link_to 'Last.fm', 'https://last.fm/user/linux_nerd'

  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
  = javascript_include_tag 'site'
