<div class="albums">
  <% local(:albums).each do |a| %>
    <div class="album">
      <figure><img src="<%= a.cover_photo_url %>" alt="<%= a.title %>"></figure>
      <div class="album-data">
        <h2 class="album-title"><%= a.title %></h2>
        <ul class="album-photosets">
          <% a.photo_sets.each do |ps| %>
            <li><a href="/albums/<%= a.id %>/<%= ps.id %>"><%= ps.title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
