<div class="loading">
  <div class="loading-spinny"></div>
  <div class="loading-message">Loading Photos&hellip;</div>
</div>

<article class="photo-set">

  <% local(:photo_set).photo_urls.each do |url| %>
    <div class="photo-set-image">
      <a href="<%= url %>"><img src="<%= url %>" alt="<%= photo_set.title %>"></a>
    </div>
  <% end %>

  <div class="photo-set-content">
    <div class="photo-set-publish-date"><%= local(:photo_set).date.strftime("%B %d, %Y") %></div>
    <h1><%= local(:photo_set).title %></h1>

    <div class="photo-set-content-body">
      <%= local(:photo_set).description %>
    </div>
  </div>

</article>
