<div class="intro">
  <div class="container">
    <p class="intro-lead">
      <strong>I&rsquo;m a programmer &amp; sysadmin living in Montréal, Québec, Canada.</strong>
    </p>

    <p>
      I work as an API Developer and DevOps Lead for <a href="https://www.getflow.com/">Flow</a>
      and am the founder of <a href="https://www.blackieops.com">BlackieOps</a>.
      I write a lot of Elixir, Ruby, and Ansible. My free time is mainly consumed
      with caring for my growing collection of servers or playing the drums.
    </p>
  </div>
</div>

<div class="container">
  <div class="home-two-up">
    <div class="column home-articles">
      <header>
        <h2>Things I've Written</h2>
        <a class="home-articles-rss" href="/rss.xml"><svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g fill="#353333"><path d="m119.9 336.1c-30.8 0-55.9 25.1-55.9 55.8 0 30.8 25.1 55.6 55.9 55.6 30.9 0 55.9-24.9 55.9-55.6s-25-55.8-55.9-55.8z"/><path d="m64 192v79.9c48 0 94.1 14.199 128 48.1s48 79.9 48 128h80c0-139.9-116-256-256-256z"/><path d="M64,64v79.9c171,0,303.9,133,303.9,304.1H448C448,236.3,276,64,64,64z"/></g></svg></a>
  </a>
      </header>

      <dl>
        <% local(:articles).each do |article| %>
          <dt><%= article.date %></dt>
          <dd><a href="/articles/<%= article.slug %>"><%= article.title %></a></dd>
        <% end %>
      </dl>

      <nav class="article-list-pagination">
        <% if (local(:current_page) - 1) >= 0 %>
          <a class="article-list-pagination-previous" href="?page=<%= local(:current_page) - 1 %>">&larr; Newer</a>
        <% end %>
        <% if (local(:current_page) + 1) <= local(:total_pages) %>
          <a class="article-list-pagination-next"  href="?page=<%= local(:current_page) + 1 %>">Older &rarr;</a>
        <% end %>
      </nav>
    </div>

    <div class="column home-contact">
      <h2>Where I am</h2>

      <dl>
        <dt>Github</dt>
        <dd><a href="https://github.com/alexblackie">@alexblackie</a></dd>

        <dt>Github</dt>
        <dd><a href="https://github.com/blackieops">@blackieops</a></dd>

        <dt>Email</dt>
        <dd><a href="mailto:alex@alexblackie.com">alex@alexblackie.com</a></dd>

        <dt>Keybase</dt>
        <dd><a href="https://keybase.io/alexblackie">@alexblackie</a></dd>
      </dl>
    </div>
  </div>
</div>
