<% if held %>
<div class="alert">
  This article is UNPUBLISHED. You are viewing a semi-private draft.
</div>
<% end %>

<article class="article article-single">
  <header>
    <h1><%= page_title %></h1>
    <div class="meta">Posted on <%= date %></div>
  </header>

  <div class="article-meat article-photos">
    <% if cover %>
    <figure class="article-cover">
      <img src="<%= cover["url"] %>" alt="<%= cover["caption"] %>" width="<%= cover["width"] %>" height="<%= cover["height"] %>">
    </figure>
    <% end %>

    <% if photostrip %>
      <figure class="article-photostrip">
        <% photostrip.each do |photo| %>
          <a href="<%= photo["url"] %>"><img src="<%= photo["url"] %>" alt="<%= photo["caption"] %>"></a>
        <% end %>
      </figure>
    <% end %>
  </div>

  <div class="article-meat">
    <% if toc %>
    <ol class="article-toc">
      <% toc.each do |t| %>
        <li class="article-toc-link" id="tocLink-<%= t["id"] %>">
          <a href="#<%= t["id"] %>"><%= t["label"] %></a>
          <% if t["children"] %>
            <ol class="article-toc-children">
              <% t["children"].each do |c| %>
                <li class="article-toc-link" id="tocLink-<%= c["id"] %>">
                  <a href="#<%= c["id"] %>"><%= c["label"] %></a>
                </li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% end %>
    <div class="article-body <% if toc %>with-toc<% end %>">
      <%= body %>
    </div>
  </div>
</article>
