<% if held %>
<div class="alert">
  This article is UNPUBLISHED. You are viewing a semi-private draft.
</div>
<% end %>

<article class="article article-single">
  <header>
    <h1><%= page_title %></h1>
    <div class="meta">Posted on <%= date %></div>
  </header>

  <div class="article-meat">
    <% if toc %>
    <ol class="article-toc">
      <% toc.each do |id, label| %>
        <li><a href="#<%= id %>"><%= label %></a></li>
      <% end %>
    </ol>
    <% end %>
    <div class="article-body <% if toc %>with-toc<% end %>">
      <%= body %>
    </div>
  </div>
</article>
