<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= page_title %> | Alex Blackie</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass:400,700|Source+Code+Pro:400,700" type="text/css">
  <link rel="stylesheet" href="/assets/css/site.css" type="text/css">
  <% (stylesheets || []).each do |name| %>
  <link rel="stylesheet" href="/assets/css/<%= name %>.css" type="text/css">
  <% end %>
  <link rel="alternate" type="application/rss+xml" title="Alex Blackie's Blog" href="/rss.xml"/>
</head>
<body<% if body_class %> class="<%= body_class %>"<% end %>>

  <header id="siteHeader">
    <div class="container">
      <h1><a href="/">Alex Blackie</a></h1>

      <nav id="siteNav">
        <ul>
          <li id="siteNav-home"><a href="/">Articles</a></li>
          <li id="siteNav-photos"><a href="/albums">Photos</a></li>
          <li id="siteNav-setup"><a href="/setup">My Setup</a></li>
          <li id="siteNav-about"><a href="/about">About Me</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="siteContent">
    <% unless full_width %><div class="container"><% end %>
      <%= partial %>
    <% unless full_width %></div><% end %>
  </div>

  <footer id="siteFooter">
    <div class="container">
      &copy; 2013-2018 Alex Blackie.<br>
      This site is <a href="https://github.com/alexblackie/watashi">open source</a>! Code released under a BSD-style License; content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>.
    </div>
  </footer>

  <% (javascripts || []).each do |name| %>
    <script src="/assets/js/<%= name %>.js"></script>
  <% end %>

</body>
