---
title: Contact
---

.container
  %header.page-header
    %h1.page-title Contact

  %table.table-vertical( width='100%' cellspacing='0' )
    %tbody
      %tr
        %th( width='50%' ) Email
        %td( width='50%' )= link_to 'alex@alexblackie.com', 'mailto:alex@alexblackie.com'

      %tr
        %th Twitter
        %td= link_to '@alexblackie', 'https://twitter.com/alexblackie'

      %tr
        %th Github
        %td= link_to 'alexblackie', 'https://github.com/alexblackie'

      %tr
        %th Last.fm
        %td= link_to 'linux_nerd', 'https://last.fm/user/linux_nerd'

      %tr
        %th Steam
        %td= link_to 'linux_nerd', 'http://steamcommunity.com/id/alexblackie'
