---
title: The Internet Sensation&trade;
layout: layout
---

<header id="site-header-home"><div class="container">
  <div class="titles">
    <h1><%= link_to "Alex Blackie", "/" %></h1>
    <h2>The Internet Sensation&trade;</h2>
  </div>

  <div class="intro">
    <p>
      I'm just some punk-ass teenager in Canada who writes code for
      <a href="http://stembolt.com/">Stembolt</a> and runs servers for
      <a href="https://www.blackieops.com">BlackieOps</a>. I drink a
      dangerous amount of coffee.
    </p>
  </div>
</div></header>

<div class="container" id="home-content">
  <div class="home-column home-column-weblog">
    <h1 class="home-column-title">My Weblog</h1>

    <div class="home-column-content">
      <% page_articles.each do |article| %>
        <article class="post post-member">
          <span>(<%= article.date.strftime("%Y-%m-%d") %>)</span>
          <h1><%= link_to article.title, article %></h1>
        </article>
      <% end %>
    </div>
  </div>

  <div class="home-column home-column-about">
    <h1 class="home-column-title">On the Line</h1>

    <div class="home-column-content">
      <ul>
        <li>Email: <%= link_to "alex@alexblackie.com", "mailto:alex@alexblackie.com" %></li>
        <li>Twitter: <%= link_to "@alexblackie", "https://twitter.com/alexblackie" %></li>
        <li>Github: <%= link_to "@alexblackie", "https://github.com/alexblackie" %></li>
        <li>Freenode: <code>alexblackie</code></li>
        <li>GPG: <%= link_to "0xA231E0F2D35D0D47", "https://pgp.mit.edu/pks/lookup?op=get&search=0xA231E0F2D35D0D47" %>
      </ul>
    </div>
  </div>
</div>
